footer {
    background-color: $footer-color;
    color: white;
    padding : 1.3rem;
    & h1 {
        font-size: 1.1rem;
        font-weight: normal;
    }
    & ul {
        padding: 0;
    }
    & li {
        list-style: none;
        padding: 0.3rem 0 0.3rem 0;
        & .li--padding-left {
            padding-left: 0.3rem;
        }
    }
    & i {
        font-size: 0.8rem;
        padding-right: 0.3rem;
    }
    & a {
        cursor: pointer;
    }
}
