footer {
    background-color: $footer-color;
    color: white;
    padding : 1.3rem;
    & h1 {
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
        @include tablet {
            text-align: center;
            padding-bottom: 1.5rem;
        }
    }
    & ul {
        padding: 0;
        margin: 0;
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    & li {
        list-style: none;
        padding: 0.3rem 0 0.3rem 0;
        & .li--padding-left {
            padding-left: 0.3rem;
        }
    }
    & i {
        font-size: 0.8rem;
        padding-right: 0.3rem;
    }
    & a {
        cursor: pointer;
    }
}
