/* Button "explore our restaurants" (Home) & "order" (menus pages) */
.search__restaurants, .order-button {
    button {
    margin: 1rem 0;
    font-size: 1rem;
    padding: 1.1rem 1.5rem;
    border: none;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    /* position */
    position: relative;
    z-index: 1;
    /* transition => default properties */
    background: linear-gradient(175deg, $secondary-color, $primary-color);
    box-shadow: 0px 7px 7px darken($bg-color, 15%);
        &:hover {
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            border-radius: 2rem;
            /* position */
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            /* transition => lighter background color and accentuation on shadows */
            background: linear-gradient(175deg, lighten($secondary-color, 5%), lighten($primary-color, 5%));
            box-shadow: 0px 5px 10px darken($bg-color, 52%);
            opacity: 0;
            transition: opacity ease-out 0.4s;
        }
    }
}

/* Like heart button (favorite menu) => Home page and Restaurants pages */

.restaurant-card, .menu {
    &__heart i {
        cursor: pointer;
        font-size: 1.5rem;
        &::after {
            // fontawesome common properties
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            // Full heart references 
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f004";
            // Position => on top of the empty heart
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            // Background gradient (+ properties to make it work on a text)
            background: linear-gradient(175deg, $secondary-color, $primary-color);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            // Transition => make the full heart appear gradualy
            opacity: 0;
            transition: opacity ease-out 0.5s;
        }
        &:hover::after {
            opacity: 1;
        }
    }
}
