@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* Text */
body {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 1.8rem;
    font-weight: 700;
}
/* Logo & Titles*/
.logo, h1 {
    font-family: 'Shrikhand', cursive;
}
