main {
    background-color: $bg-color;
}
    /* Dish photo of a restaurant */
.menu-photo {
    height: 250px;
    & img {
    width: 100%;
    }
    @include tablet  {
        height: 20rem;
        position: relative;
        overflow: hidden;
        & img {
            position: absolute;
            top: -13rem;
        }
    }
    @include desktop {
        margin: auto;  
        width: 50rem;
        border-radius: 2rem;
    }
}
.menu {
    background-color: $bg-color;
    padding: 2rem 1rem 0 1rem;
    border-radius: 2.2rem 2.2rem 0 0;;
    position: relative;
    top: -3.4rem;
    display: flex;
    flex-direction: column;
    & h1 {
        font-size: 1.8rem;
        @include small-mobile {
            font-size: 1.5rem;
        }
    }
    &__heart {
        position: absolute;
        right: 2.5rem;
        top: 2.7rem;  
        @include tablet {
            left : 20rem;
        }
        @include small-mobile {
            top: 2.4rem;
        }
    }
    /* rectangle cards with the dish title, description and price */
    &__card {
        background-color: white;
        border-radius: 1rem;
        padding: 0.7rem;
        position: relative;
        box-shadow: 0 4px 15px darken($bg-color, 10%);
        @include desktop {
            display: flex;
            flex-direction: column;
        }
        &__dish-title {
            padding-bottom: 0.3rem;
            @include small-mobile {
                font-size: 1rem;
            }
            }
        &__dish-info {
            font-size: 0.91rem;
            @include small-mobile {
                font-size: 0.73rem;
            }
        }
        &__price {
            font-size: 1rem;
            font-weight: 600;
            position: absolute;
            right: 1.5rem;
            bottom: 0.7rem;
        }
    }
}
/* contain all the cards categories (starters, dishes, desserts) */
.cards-container {
    @include desktop-menu-column  {
        display: flex;
        flex-direction: row;
        /* Contain all the cards of a category (starters cards for ex) */
        &__categories {
            flex-basis: 30%;
            margin: auto;
            margin-top: 0;
        }
    }
}
/* margin around the link of a card */ 
.card-margin {
    margin: 1rem 0 1rem 0;
    & a {
        cursor: pointer;
    }
}
/* Order Button => _components.scss*/
.order-button {
    align-self: center;
    & button {
        padding: 1.1rem 3.5rem;
        margin : 2rem 0;
    }
}